@import 'https://fonts.googleapis.com/css?family=Roboto';

body {
  background-color: #E7E7E7;
  font-family: 'Roboto', sans-serif;
}

md-content, md-content.md-primoExplore-theme {
  
  md-card.default-card {
    background-color: $content-background-color;
  }
}

// rex-button-group {
//   border-radius: 3px;
//   display: inline-block;
//   padding: 0;
//   margin: 6px 8px;
//   min-height: 36px;
//   min-width: 88px;
// }

// rex-button-group > .md-button {
//   border-radius: 0;
//   border: 0;
//   min-width: 20px;
//   margin: 0;
// }

// rex-button-group.md-raised:not([disabled]) {
//   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
// }
