header {

  .md-button.button-confirm {
    color: $icon-color;
  }


  md-toolbar {
    z-index: 10;
    
    color: $topbar-text-color;
    background-color: white;

    .md-button {
      height: 100%;  
      padding: 0 0.75em;
      max-width: 12em;
      font-size: 0.65em;
      letter-spacing: 0.03em;          
      font-weight: 600 !important;
      color: inherit;
    }
    
    md-input-container {
      height: 100%;  
      padding: 0 0.75em;
      max-width: 12em;
      font-size: 0.65em;
      text-transform: uppercase;
      letter-spacing: 0.005em;          
      font-weight: 400 !important;
      color: inherit; 
      
      &>md-icon {
        top: 4px;
      }

      &.md-icon-left {
        padding-left: 27px;
        padding-right: 0;
      }

      &:after {
        background-color: inherit;
      }

      ._md-select-value ._md-select-icon {
        width: 18px;
      } 
    }

    // md-input-container {
    //   margin: 0;
    //   padding: 0 1em;
    //   height: 100%;
    //   // text-transform: uppercase;
    //   font-size: .65em;
    //   &:after {
    //       display: none;
    //   }

    //   md-select {
    //     height: 100%;
    //     .md-select-value {
    //       margin: 0;
    //       padding: 0;
    //       border: none !important;
    //       span {
    //         top: -3px;
    //         position: inherit;
    //       }
    //     }
    //     .md-select-placeholder {
    //       color: inherit;
    //       border-bottom: none;
    //     }
    //   }
    // }

  
  }

  rex-main-menu {
    height: 100%;    
  }

  .rex-logo {
    min-width: 100px;
  }


  prm-search-bar {
    background-color: $search-bar-background-color;
    .search-switch-buttons  { 
      .md-button.switch-to-advanced, .md-button.switch-to-simple {
        color: #45AAB4;
      }
    }
    .advanced-search-backdrop {
      background-color: $search-bar-background-color;
    }
  }


  // The default toolbar is hidden.
  prm-topbar {  
    visibility: hidden;
  }

}


